<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuzhu.project.api.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zhuzhu.project.api.model.User" >
    <id column="uuid" property="uuid" jdbcType="INTEGER" />
    <result column="user_serial_id" property="userSerialId" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.userSerialId != null" >
         and user_serial_id = #{condition.userSerialId}
      </if>
      <if test="condition.userPassword != null" >
         and user_password = #{condition.userPassword}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    uuid, user_serial_id, user_password
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.zhuzhu.project.api.model.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zz_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zz_user
    where uuid = #{uuid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zz_user
    where uuid = #{uuid}
  </delete>
  <delete id="deleteByParams" parameterType="com.zhuzhu.project.api.model.Criteria" >
    delete from zz_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhuzhu.project.api.model.User" >
    insert into zz_user (uuid, user_serial_id, user_password)
    values (#{uuid}, #{userSerialId}, #{userPassword})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuzhu.project.api.model.User" >
    insert into zz_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="userSerialId != null" >
        user_serial_id,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid},
      </if>
      <if test="userSerialId != null" >
        #{userSerialId},
      </if>
      <if test="userPassword != null" >
        #{userPassword},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.zhuzhu.project.api.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from zz_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update zz_user
    <set >
      <if test="record.uuid != null" >
        uuid = #{record.uuid},
      </if>
      <if test="record.userSerialId != null" >
        user_serial_id = #{record.userSerialId},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update zz_user
    set uuid = #{record.uuid},
      user_serial_id = #{record.userSerialId},
      user_password = #{record.userPassword}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhuzhu.project.api.model.User" >
    update zz_user
    <set >
      <if test="userSerialId != null" >
        user_serial_id = #{userSerialId},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword},
      </if>
    </set>
    where uuid = #{uuid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhuzhu.project.api.model.User" >
    update zz_user
    set user_serial_id = #{userSerialId},
      user_password = #{userPassword}
    where uuid = #{uuid}
  </update>
</mapper>