<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=yes,maximum-scale=1.0">
        <title>demo</title>
        <script src="https://hm.baidu.com/hm.js?382f81c966395258f239157654081890"></script>
    </head>
    <body>
        <input type="file" name="上传"/>

<!--        <p th:text="'Hello, ' + ${name} + '!'" />-->
        <h1>恭喜你登陆成功</h1>
        <a href="http://www.baidu.com">
            <img src="/img/wechat.jpg">
        </a>
            <div class="entry-thumb" style="position: absolute; left: 49.8942%; top: 1969px;">
               <a href="http://www.baidu.com" class="thumb-link">
                   <img src="/img/wechat.jpg" alt="Shutterbug">
               </a>
            </div>
    </body>
</html>